/*
  Header scss
*/


.header {
  height: 120px;
}

.header-text {
  font-family: "Vinkel";
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-logo {
  margin: 15px 30px;
}

.header-logo img {
  height: 37px;
  margin-bottom: 13px;
}