/*
  Header scss
*/


.header {
  padding: 0;
  height: 120px;
  text-align: left;

  &-text {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.header-logo, .footer-logo {
  margin: 15px 30px;
  display: inline-block;
}

.header-logo img, .footer-logo img {
  height: 37px;
  margin-bottom: 13px;
}

.footer {
  padding-bottom: 20px;
}


@include mobile {
  .header {
    padding-top: 40px;
    text-align: center;

    &-logo {
      margin: 0 15px;
    }
  }
}



