/*
Page style :)
*/

.section {
  background: #fff;
  margin-bottom: 20px;

  &-description {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-size: 18px;
    color: #000;
    line-height: 50.4px;
    font-weight: 500;
  }
}

.editor-content {
  padding: 130px 40px;

  &-body {
    padding: 50px 0 10px 0;
  }
}

.main-content-image {
  display: none;
  position: relative;

  img {
    position: absolute;
    top: -60px;
    right: -60px;
  }
}

.participate {
  &-postbox {
    padding: 0;
  }

  &-body {
    margin-bottom: 60px;
  }
}

.section.entries, .section.participate, .section.rules {
  padding: 100px 20px;
}

.rules-body {
  padding: 0;
  margin-top: 20px;
}

@include tablet {

  .rules-body {
    padding: 0 40px;
    margin: 0;
  }

  .editor-content {
    padding: 130px 80px;

    &-body {
      padding: 30px 0;
    }
  }

  .section.participate, .section.rules {
    padding: 100px 80px;
  }

  .participate {
    &-postbox {

    }

    &-body {

    }
  }
}

@include laptop {

  .rules-body {
    padding: 0 40px;
    margin: 0;
  }

  .editor-content {
    padding: 130px 80px;

    &-body {
      padding: 50px 0;
    }
  }

  .main-content-image {
    display: block;
  }

  .section.participate, .section.rules {
    padding: 100px 80px;
  }

  .participate {
    &-postbox {
      padding-left: 60px;
    }

    &-body {

    }
  }
}

@include desktop {

  .rules-body {
    padding: 0 40px;
    margin: 0;
  }

  .editor-content {
    padding: 139px 172px;

    &-body {
      padding: 60px 0;
    }
  }

  .main-content-image {
    display: block;
  }

  .section.entries, .section.participate, .section.rules {
    padding: 100px 200px;
  }

  .participate {
    &-postbox {
      padding-left: 100px;
    }

    &-body {
      margin: 0;
    }
  }
}

.section.entries {
  text-align: center;
}

.entries-grid {
  margin: 0 -10px 50px -10px;

  .entry {
    padding: 0 10px;
    margin-bottom: 65px;

    &-title, &-submitter {
      display: block;
      font-family: 'Roboto', 'Helvetica', sans-serif;
      color: #4A4A4A;
      text-align: left;
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
    }

    &-submitter {
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: 1.75px;
      text-transform: uppercase;
    }

    &-image {
      margin-bottom: 20px;
    }

    &-button-container {
      background: #D8D8D8;
      border-radius: 999px;
      height: 48px;
      margin-bottom: 15px;
    }

    &-share-button {
      font-family: 'Vinkel', 'Helvetica', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: #555555;
      letter-spacing: 2px;
      line-height: 20px;
      padding: 14px 22px 14px 8px;

      &:hover {
        color: #555555;
      }
    }

    &-like-button {
      background: #fff;
      border: 3px solid #E5007C;
      border-radius: 999px;
      font-family: 'Vinkel', 'Helvetica', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: #E5007C;
      letter-spacing: 2px;
      line-height: 20px;
      padding: 11px 20px;
      transition: background 160ms;
      text-align: center;

      &-icon {
        @extend %fa-icon;
        @extend .fas;

        margin-left: 10px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #E5007C;

        &:before {
          content: fa-content($fa-var-heart);
        }
      }

      &.liked .entry-like-button-icon {
        margin-left: 0;
        margin-right: 10px;
      }

      &:hover .entry-like-button-icon {
        color: #fff;
      }

      &:hover, &.liked {
        color: #fff;
        background: #E5007C;
      }
    }
  }
}

.entry-navigation {
  &-previous, &-next {
    display: none;
  }

  &-previous, &-next, &-numbers {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    color: #D8D8D8;
    cursor: pointer;
    margin: 0 10px;
  }

  &-number {
    display: inline-block;
    width: 36px;
  }

  &-number.current {
    color: #E5007C;
  }

  &-numbers {
    font-size: 24px;
  }
}

#participation-form {
  label {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-size: 14px;
  }

  input {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-size: 16px;
    border: 3px solid #D0D0D0;
    border-radius: 999px;
    padding: 11px 24px;
    vertical-align: middle;
    height: 48px;
    margin-bottom: 20px;

    &:focus {
      border: 3px solid #E5007C;
      box-shadow: none;
    }
  }

  .participation-image-label {
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    background: #D8D8D8;
    border-radius: 999px;
    display: block;
    font-size: 16px;
    color: #555555;
    letter-spacing: 2px;
    text-align: center;
    line-height: 20px;
    padding: 14px 24px;
    font-weight: 700;
    text-transform: uppercase;

    &-icon {
      @extend %fa-icon;
      @extend .fas;

      margin-right: 5px;
      color: green;
      display: none;

      &:before {
        content: fa-content($fa-var-check);
      }
    }
  }

  #participation-image:valid + .participation-image-label .participation-image-label-icon {
    display: inline;
  }

  #participation-checkbox {
    background: #fff;
    border: 3px solid #E7E7E7;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    margin: 0;
  }

  .participation-checkbox-label {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Vinkel', 'Helvetica', sans-serif;

    a {
      color: #E5007C;
      text-decoration: underline;
    }
  }

  .participation-submit {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Vinkel', 'Helvetica', sans-serif;
    font-weight: 700;
    line-height: 20px;
    padding: 11px 26px;
    border-radius: 999px;
    background: #E5007C;
    border: 3px solid #E5007C;
    text-transform: uppercase;
    transition: background, color 160ms;

    &:hover {
      background: transparent;
      color: #E5007C;
    }
  }

  .participation-form {
    &-error {
      display: none;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      font-family: 'Vinkel', 'Helvetica', sans-serif;
      color: #da0000;

      &-icon {
        @extend %fa-icon;
        @extend .fas;

        margin-right: 13px;

        &:before {
          content: fa-content($fa-var-exclamation-triangle);
        }
      }
    }
  }
}